<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" /><uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" /><uses-permission android:name="android.permission.WAKE_LOCK" /><uses-permission android:name="android.permission.POST_NOTIFICATIONS" /><application android:theme="@style/AppTheme" android:label="漫游浏览器" android:icon="@mipmap/ic_launcher" android:roundIcon="@mipmap/ic_launcher_round"
        android:allowBackup="false" android:usesCleartextTraffic="true" android:largeHeap="true" android:supportsRtl="true">
        <activity android:name=".MainActivity" android:exported="true" android:launchMode="singleTop" android:configChanges="orientation|screenSize">
            <intent-filter><action android:name="android.intent.action.SEND" /><category android:name="android.intent.category.DEFAULT" /><data android:mimeType="image/*" /></intent-filter>
        </activity>
        <activity android:name=".BrowserActivity" android:exported="true" android:configChanges="orientation|screenSize|keyboardHidden">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity>
        <activity android:name=".LogsActivity" android:exported="false" />
        <activity android:name=".SettingsActivity" android:exported="false" android:windowSoftInputMode="adjustResize" />
        <activity android:name=".LibraryActivity" android:exported="false" android:windowSoftInputMode="adjustResize" />
        <activity android:name=".LocalLibraryActivity" android:exported="false" />
        <activity android:name=".LocalFolderActivity" android:exported="false" android:configChanges="orientation|screenSize" />
        <activity android:name=".LocalReaderActivity" android:exported="false" android:configChanges="orientation|screenSize" />
        <activity android:name=".WorkbenchActivity" android:exported="false" android:windowSoftInputMode="adjustResize" android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize" />
        <activity android:name=".ProjectListActivity" android:exported="false" />
    <service android:name=".TranslationService" android:exported="false" android:foregroundServiceType="dataSync" /><activity android:name=".ProjectReaderActivity" android:exported="false" android:configChanges="orientation|screenSize" /><activity android:name=".LocalProjectReaderActivity" android:exported="false" android:configChanges="orientation|screenSize" /><activity android:name=".LocalWorkbenchActivity" android:exported="false" android:windowSoftInputMode="adjustResize" android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize" /></application>
</manifest>
